:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



  /* padding del menu lateral */

  .padding-menu{
    padding-left: 4.5rem;
  }

  @media screen and (max-width: 992px) {
    .padding-menu{
      padding-left: 0px;
    }
  }
  /* fin padding del menu lateral */
  

    .mt-n1 {
    margin-top: -0.25rem !important;
  }
  
  .mt-n2 {
    margin-top: -0.5rem !important;
  }
  
  .mt-n3 {
    margin-top: -1rem !important;
  }
  
  .mt-n4 {
    margin-top: -1.5rem !important;
  }
  
  .mt-n5 {
    margin-top: -3rem !important;
  }
  
  .mt-n6 {
    margin-top: -4rem !important;
  }
  
  .mt-n7 {
    margin-top: -6rem !important;
  }
  
  .mt-n8 {
    margin-top: -8rem !important;
  }
  
  .mt-n9 {
    margin-top: -10rem !important;
  }
  
  .mt-n10 {
    margin-top: -12rem !important;
  }
  
  .mt-n11 {
    margin-top: -14rem !important;
  }
  
  .mt-n12 {
    margin-top: -16rem !important;
  }

  .bg-lunalu{
    background-color: #f6a0a0;
    color: #fff;

  }
  .text-lunalu{
    color: #f6a0a0;
  }


  .nav-link{
    color: #000000;

  }

  .nav-link:hover{
    color: #f6a0a0;

  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f6a0a0 !important;
  }
  
  .form-check-input:checked {
    background-color: #f6a0a0;
    border-color: #f6a0a0 ;
}

.form-check-input:focus {
    border-color: #f6a0a0;
    outline: 0;
    box-shadow: 0 0 0 0 #f6a0a05c;
}

.form-control:focus,.form-select:focus {
    border-color: #f6a0a0;
    outline: 0;
    box-shadow: 0 0 0 0 #f6a0a05c;
}

/* waves */

  .waves {
    position: relative;
    width: 100%;
    height: 16vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
  }
  
  .waves.waves-sm {
    height: 50px;
    min-height: 50px;
  }
  
  .waves.no-animation .moving-waves>use {
    animation: none;
  }
  
  .wave-rotate {
    transform: rotate(180deg);
  }
  
  /* Animation for the waves */
  .moving-waves>use {
    animation: move-forever 40s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  
  .moving-waves>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 11s;
  }
  
  .moving-waves>use:nth-child(2) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  
  .moving-waves>use:nth-child(3) {
    animation-delay: -3s;
    animation-duration: 15s;
  }
  
  .moving-waves>use:nth-child(4) {
    animation-delay: -4s;
    animation-duration: 20s;
  }
  
  .moving-waves>use:nth-child(5) {
    animation-delay: -4s;
    animation-duration: 25s;
  }
  
  .moving-waves>use:nth-child(6) {
    animation-delay: -3s;
    animation-duration: 30s;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
  
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
  /*Shrinking for mobile*/
  @media (max-width: 767.98px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
  }